*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: fixed;
    width: 100%;
    
   
    
}
#inst{
    font-weight: bold;
}
.instructions{
    text-align: center;
    padding: 70px;
  
}
.search-area{
    backdrop-filter:blur(5px) ;
    height: 35vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    background-color: darkgray;
   
}

.drinks{
        
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-top: 20px;
        align-items: center;
        margin-left: auto;
        margin-left: auto;
        text-align: center;
       
} 

.drinks img {
    width: 200px;
    height: 500px; 
    border-radius: 25px; 
    max-width: 100%;
    height: auto;
    border: 5px #Ff67;
   }
.output{
    background-color:white;
    width:500px;
    align-items: inherit;
    margin: 20px auto;
   

}
h2{
    text-align: center;
}

